beautifulsoup4
yfinance
numpy

pandas >= 1.3.5
jupyter >= 1.0.0
ipykernel >= 6.6.1
lxml >= 4.7.1
plotly >= 5.5.0
streamlit >= 1.3.1
scipy
seaborn >= 0.11.2
pystan == 2.19.1.1
fbprophet == 0.7.1

pytest >= 5.2
flake8 >= 4.0.1
mypy >= 0.930
black >= 21.12b0
